# https://bevyengine.org/learn/book/getting-started/setup/#enable-fast-compiles-optional
# sudo pacman -S lld
[target.x86_64-unknown-linux-gnu]
rustflags = ["-Ctarget-cpu=znver2", "-Clink-arg=-fuse-ld=lld", "-Zshare-generics=y"]

#zld在苹果上是「负优化」，还不如默认的ld
#[target.x86_64-apple-darwin]
#rustflags = ["-C", "link-arg=-fuse-ld=/usr/local/bin/zld", "-Zshare-generics=y"]

[profile.dev]
split-debuginfo = "unpacked"

[profile.test]
split-debuginfo = "unpacked"
